@{
    ViewData["Title"] = "Create Note page";
}
@model NotesApp.ViewModels.NotesViewModel

<form method="post" asp-action="OnCreate" asp-route-id=@Model.FolderId class="form">
    <h1>Create note here</h1>
    @{
        if (TempData["msg"] != null)
        {
            <label class="text-danger">@TempData["msg"]</label>
        }
    }
    <div class="input">
        <label for="Title">Title</label>
        <input type="text" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="input">
        <label for="Description">Description</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="buttons">
        <button type="submit" class="btn btn-success">Create</button>
        <a class="text-white" asp-controller="Folders" asp-action="Details" asp-route-id=@Model.FolderId> 
           <button type="button" class="btn btn-primary">Back</button>
        </a>
    </div>
</form>