@model NotesModel
@{
    ViewData["Title"] = "Delete Note page";
}
<section class="delete-container">
    <h1>Are you sure you want to delete this note?</h1>
    <section class="delete-content">
        <p> Title: @Model.Title</p>
        <p> Description: @Model.Description</p>
        <p> Folder: @Model.Folder.Name</p>
    </section>
    <div class="buttons">
        <a class="text-white" asp-controller="Notes" asp-action="OnDelete" asp-route-id=@Model.Id asp-route-folderId=@Model.Folder.Id>
            <button class="btn btn-danger">Delete</button>
        </a>
        <a class="text-white" asp-controller="Folders" asp-action="Details" asp-route-id=@Model.Folder.Id>
            <button class="btn btn-primary">Cancel</button>
        </a>
    </div>
</section>